/* 全局样式 */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url('https://img.yukiryou.icu/pic?img=ua');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}